<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SinSane Products</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
<!-- Navbar  -->
  <nav class="navbar">
    <div class="navbar__container">
      <img href="/" id="navbar__logo" src="/public/images/logo2.png">
      <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item"> 
        <a href="/welcome" class="navbar__links"> Home </a>
      </li>
      <li class="navbar__item"> 
        <a href="/products" class="navbar__links"> Products </a>
      </li>
      <li class="navbar__btn"> 
        <a href="/login" class="button"> Sign Up </a>
      </li>                                                                                                        
    </ul>
  </div>
</nav>
<!-- Main Section -->

<div class="Current-Inventory">
  <div class="Current-Inventory-box">
    <div class="Current-Invetory-title">
      <h2>Current Inventory</h2>
    </div>

    <div class="Current-Inventory-Items">
      <div class="Current-Inventory-item">
        <div class="Current-Inventory-image">
          <img src="/public/images/shirt1.png">
        </div>
        <div class="Current-Inventory-Body">
          <h4>Sinsane Graphic Tee</h4>
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="price">
            <label class="sale">$69.99</label>
            <label>$49.99</label>
          </div>
        </div>
      </div>

      <div class="Current-Inventory-item">
        <div class="Current-Inventory-image">
          <img src="/public/images/shirt2.png">
        </div>
        <div class="Current-Inventory-Body">
          <h4>Sinsane Graphic Tee</h4>
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="price">
            <label class="sale">$69.99</label>
            <label>$49.99</label>
          </div>
        </div>
      </div>

      <div class="Current-Inventory-item">
        <div class="Current-Inventory-image">
          <img src="/public/images/shirt3.png">
        </div>
        <div class="Current-Inventory-Body">
          <h4>Sinsane Graphic Tee</h4>
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="price">
            <label class="sale">$69.99</label>
            <label>$49.99</label>
          </div>
        </div>
      </div>

      <div class="Current-Inventory-item">
        <div class="Current-Inventory-image">
          <img src="/public/images/shirt4.png">
        </div>
        <div class="Current-Inventory-Body">
          <h4>Sinsane Graphic Tee</h4>
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="price">
            <label class="sale">$69.99</label>
            <label>$49.99</label>
          </div>
        </div>
      </div>

      <div class="Current-Inventory-item">
        <div class="Current-Inventory-image">
          <img src="/public/images/shirt5.png">
        </div>
        <div class="Current-Inventory-Body">
          <h4>For His Sins T-Shirt</h4>
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          
          </div>
          <div class="price">
            <label class="sale">$69.99</label>
            <label>$49.99</label>
          </div>
        </div>
      </div>

      <div class="Current-Inventory-item">
        <div class="Current-Inventory-image">
          <img src="/public/images/shirt6.png">
        </div>
        <div class="Current-Inventory-Body">
          <h4>Jesus Loves You T-Shirt</h4>
          <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="price">
            <label class="sale">$69.99</label>
            <label>$49.99</label>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="footer_container">
    <div class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="footer__logo"></a>
            </div>
            <p class="website__rights">SINSANE 2023. ALL RIGHTS RESERVED</p>
            <div class="social__icons">
                <a href="https://www.instagram.com/sinsane.us/" class="social__icon--link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<script src="/public/app.js" ></script>
</body>
</html>