<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SinSane</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
<!-- Navbar  -->
  <nav class="navbar">
    <div class="navbar__container">
        <img href="/" id="navbar__logo" src="/public/images/logo2.png">
      <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item"> 
        <a href="/welcome" class="navbar__links"> Home </a>
      </li>
      <li class="navbar__item"> 
        <a href="/products" class="navbar__links"> Products </a>
      </li>
      <li class="navbar__btn"> 
        <a href="/login" class="button"> Sign Up </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Main Section -->
<div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>WELCOME TO</h1>
            <h2>SINSANE</h2>
            <button class="main__btn"><a href="/products">Start Shopping</a></button>
        </div>
        <div class="main__img--container">
            <img src="/public/images/SinsaneLightBlueDesign.png" alt="pic" id="main__img">
        </div>
    </div>
</div>

<!-- Services -->
<div class="services">
    <h1>More Information</h1>
    <div class="services__container">
        <div class="services__card">
            <h2> About Us </h2>
            <p>Click here to learn about the creator</p>
            <button><a href="/welcome">Get Started</a></button>
        </div>
        <div class="services__card">
            <h2> Start Shopping </h2>
            <p> Click here to begin shopping </p>
            <button><a href="/products">Get Started</a></button>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer_container">
    <div class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="footer__logo"></a>
            </div>
            <p class="website__rights">SINSANE 2023. ALL RIGHTS RESERVED</p>
            <div class="social__icons">
                <a href="https://www.instagram.com/sinsane.us/" class="social__icon--link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<script src="/public/app.js" ></script>
</body>
</html>